* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Playwrite IT Moderna", cursive;
  font-weight: 600;
  font-style: normal;
}
.body-part{
  height: 100vh;
  width: 100vw;
  /* background-image: url("./images/sunnyweather.jpg"); */
  background-image: url("sunnyweather.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  position: fixed;
}
.navbar{
    height: 77px;
    width: 100vw;
    background-color: rgb(63, 63, 63);
    /* background-color: rgba(208, 207, 207, 0.667); */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    position: relative;
    animation: logo 2s ease 0s infinite alternate;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}
@keyframes logo {
    from {
        left: -600px;
    }
    to {
        left: 0;
    }
    
}
.container-fluid a{
    width: 10em;
    padding-left: 25px;
    background-color: inherit;
    font-size: 38px;
    text-shadow: 2px 2px black;
    color: rgb(248, 112, 0);
}
.inputText{
    width: 45rem;
    height: 70px;
    background-color: inherit;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.inputText input{
    width: 60%;
    height: 50px;
    border: 2px solid rgb(190, 187, 187);
    padding: 15px;
    font-size: 18px;
    outline: none;
    border-radius: 20px;

}
.inputText input:focus{
    border:2px solid rgb(60, 60, 232);
}
.btn{
    height: 50px;
    width: 20%;
    font-size: 20px;
    outline: none;
    border-radius: 20px;
    background-color: inherit;
    color: green;
    border: 2px solid green; 
    margin-left: 6px;   
}
.btn:hover{
    background-color: green;
    color: white;
}
.weather-box{
    width:50em;
    height: 38rem;
    position: relative;
    top: 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.weather{
    height: 93%;
    width: 500px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.weather-header{
    height: 95px;
    width: 100%;
    overflow: hidden;
    /* background-color: #4bcb37; */
}
.weather-header-inside{
    width: 350px;
    height: 100px;
    /* border: 1px solid black; */
    position: relative;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.location-icon{
    /* border: 1px solid black; */
    width: 60px;
    height: 60px;
    background-image: url("loaction.png");
    background-position: center;
    background-size: contain;
    transition: 1s;
}
.location-icon:hover{
     /* transform: translateX(300px); */
    transform: rotate(360deg);
    transform: translateX(300px);
}
.location{
    width: 270px;
    height: 60px;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 33px;
    display: flex;
    align-items: center;
}
.date-time{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    font-size: 18px;
    padding-left: 5em;
}
.weather-content{
    width: 60%;
    height: 130px;
    /* border: 1px solid black; */
    padding-left: 5em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.weather-image{
    height: 100px;
    width: 100px;
    border-radius: 25px;
    background-image: url("sunny.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 20px; */
    /* border: 1px solid black; */
}
.temperature{
    width: 12rem;
    height: 60px;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    align-self: center;
    overflow: hidden;
    /* border: 1px solid black; */
}
.weather-details{
    height: 18rem;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.same{
    width: 100%;
    height: 4rem;
    /* border: 1px solid blue; */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

}
.symbol{
    /* border: 1px solid black; */
    border-radius:50%;
    width: 4rem;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    transition-timing-function: ease-in;
}
.symbol:hover{
    transform: rotate(360deg);
}
.symbol img{
    height:42px;
    width: 42px;
}
.content{
    padding-left: 20px;
    width: 80%;
    height: 98%;
    color: black;
    font-size: 19px;
    /* background-color:antiquewhite; */
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}


